# Ignored folders by git #
/lib/
/src/Debug/
/src/Release/
/src/x64/
/src/LLVM/bin/
/src/LLVM/lib/Debug/
/src/LLVM/include/llvm/Win32/
/src/LLVM/include/llvm/x64/
/src/LLVM/lib/Release/
/src/LLVM/lib/Target/Win32/
/src/LLVM/lib/Target/x64/
/src/LLVM/lib/Target/X86/Win32/
/src/LLVM/lib/Target/X86/x64/
/src/Radiance/libRAD/Win32/
/src/Radiance/libRAD/x64/
/src/OpenGL/libEGL/Win32/
/src/OpenGL/libEGL/x64/
/src/OpenGL/libGLES_CM/Win32/
/src/OpenGL/libGLES_CM/x64/
/src/OpenGL/libGLESv2/Win32/
/src/OpenGL/libGLESv2/x64/
/src/OpenGL/compiler/Win32/
/src/OpenGL/compiler/x64/
/src/OpenGL/compiler/preprocessor/Debug/
/src/OpenGL/compiler/preprocessor/Release/
/src/OpenGL/compiler/preprocessor/x64/

# Ignored files #
*.user
*.obj
*.lib
*.log
*.tlog
*.exe
*.ilk
*.pdb
*.sbr
*.bsc
*.dll
*.res
*.idb
*.sdf
*.suo
*.o

