{
  "file_format_version": "1.0.0",
  "ICD": {
    "library_path": "${CMAKE_BINARY_DIR}/${CMAKE_SYSTEM_NAME}/${CMAKE_SHARED_LIBRARY_PREFIX}vk_swiftshader${CMAKE_SHARED_LIBRARY_SUFFIX}",
    "api_version": "1.0.5"
  }
}
